.card{
    background-color: #ecebe9;
   
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    
    
    height: 680px;
    width: 300px;
   
}
.caixa{
    background-color: #c9e5ee;
    margin: 10px;
    border-left-color: rgb(52, 122, 245) ;
    border-left-style: solid ;
    border-left-width: 5px;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
   margin-bottom: 2px;
    
}


p{
    margin: 10px;
    
   
}
.title,.subtitle{
    padding-left: 20px;
    margin: 0px;
    
    
    }
    .subtitle{
        color: #abafaf;
    }
    .texto{
        color: #7a7a7a;
    }
  
    button{
        margin-top: 20px;
        margin-left:160px;
        border-radius: 200px;
        background-color: #dedcd8;;
        padding: 8px;
        color: #7a7a7a;
        border: none;
        
        box-shadow: 1px 1px 6px black;
        cursor: pointer;
    }
    button:hover{
        background-color:  #c9e5ee
    }
    